
  $primary:    #5B47FB;
  $secondary:  #3366FF;
  $danger:     #DC3545;
  $light:      #FFFFFF;
  $border:     #ECEDF2;
  $mid:        #97A3B9;
  $dark:       #1B2133;
  $darklite:   #596882;
  $lightblue:  #DBECFF;
  $clear:      transparent;