/*
Generated SCSS
*/
@import "mixins";
@import "variables";

form{
    width: 100% !important;
}
.card{
    margin-bottom: 2rem;
    min-height: 34rem;
    border: 0;
}

label{
    margin-top: 10px;
}
#pager{
    margin-top: -5px;
}
.page .col{
    margin-top: 10px;
}

.page {
    margin-top: 10px;
    border: 1px solid #CDD4E0;
    padding: 0 16px;
    border-radius: 1px;
    margin-bottom: 2rem;
}

.record_count{
    padding-top: 2rem;
}

.errormsg {
    background: $danger;
    color: $light;
    text-align: center;
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 0px;
    font-size: 0.8em;
}

select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #EDEDED !important;
}

.actives {
    color: $secondary;
    font-size: 1.6em;
}

.inactive {
    color: $danger;
    font-size: 1.6em;
}

.panel-right {
    margin-top: -40px;
    text-align: right;
    margin-bottom: 10px;
}

*[avatar] {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 2px;
}

.br-top{
    border-top: 1px solid #EDEDED;
}

table , .table{
    vertical-align: middle !important;
    td, th{
        display: table-cell;
        vertical-align: middle;
    }
}
// importing root scss from modules
@import '../../../public/root.style.scss';