
  $primary:    #1565C0;
  $secondary:  #21C65A;
  $danger:     #D50000;
  $light:      #FFFFFF;
  $border:     #F1F1F1;
  $mid:        #78909c;
  $dark:       #1B2133;
  $darklite:   #2c3652;
  $lightblue:  #DBECFF;
  $clear:      transparent;